
<h2>Audit Log</h2>

<table id="tblData" class="table table-bordered table-striped table-hover " action="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>User Role</th>
            <th>Changes</th>
            <th>Action</th>
            <th>Time Stamp</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/audit.js"></script>
}